.dashboard-bg {
  background-color: #9370DB;
}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  padding-left: 100px;
}

.btn-nav {
  color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-nav:hover {
  background-color: #DDA0DD;
}

form {
  background-color: #add8e6; /* Light blue background */
  padding: 20px;
  border: 1px solid black;
}

form h3 {
  text-align: center;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}

button[type="submit"] {
  background-color: #87ceeb; /* Light sky blue */
  color: black;
  font-weight: bold;
}

.first-column {
  margin-left: -30px; /* Adjust the value as needed */
}

.third-column {
  margin-right: 30px; /* Adjust the value as needed */
}

.book-now {
  margin-bottom: 15px;
}

.book-now-form {
  border-radius: 8px; /* Adjust the value as needed */
}

.experts-section {
  background-color: #6a4c93; /* Example background color */
  padding: 2rem 3rem;
  color: white;
}

.expert-image {
  max-width: 25%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col2-image {
  width: 95.5%;
}

.btn-primary {
  background-color: #87ceeb;
  color: black;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #00bfff;
}

.loyalty-title {
  padding: 0.5rem 0;
}

.service-container {
  display: flex;
  justify-content: space-around;
  width: 98%;
  max-width: 1420px;
}

.service-card {
  background-color: #d3eaff;
  border: 1px solid #aaa;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* Add this line */
}

.service-card:hover {
  transform: scale(1.05); /* Add this line */
}

.service-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.service-card h2 {
  font-size: 1.5em;
  color: #333;
  margin-top: 20px;
}

.service-card p {
  font-size: 1em;
  color: #555;
  padding: 0 10px;
  margin-top: 10px;
}

.loyalty-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-section {
  background-color: #6a4c93; /* Example background color */
  padding: 2rem 3rem;
  color: white;
}

.contact-info {
  margin-bottom: 4px;
}

.services-title {
  margin-top: 30px;
  padding: 0 16rem;
}

.booking-confirmation {
  background-color: #4B2E83;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  font-family: 'Arial', sans-serif;
}

.booking-confirmation h1 {
  font-size: 36px;
  font-weight: bold;
}

.booking-confirmation p {
  font-size: 18px;
  margin-top: 12px;
  padding-top: 10px;
}

.booking-confirmation-container {
  background-color: #4B2E83;
}
